@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
}

header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
}
header img {
  width: 168px;
  height: 44px;
  top: 35px;
  left: 161px;
  margin-left: 165px;
  cursor: pointer;
}
header nav {
  list-style: none;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 42px;
  margin-right: 165px;
  cursor: pointer;
}
header nav ul li {
  z-index: 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  transform: 0.3s ease;
}
header nav ul a {
  text-decoration: none;
  color: black;
  display: block;
}
header nav ul li:hover {
  transform: translate(-1.5px, -1px);
}

.head {
  width: 1440px;
  height: 676px;
  top: 112px;
  left: -1px;
}
.head h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 79px;
  top: 127px;
  letter-spacing: 0.8px;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  margin: 0 166px;
  position: relative;
  z-index: 1;
}
.head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  top: 127px;
  margin: 25px 166px 30px;
  position: relative;
  z-index: 1;
}
.head img {
  width: 540px;
  height: 676px;
  top: 112px;
  left: 735px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  position: absolute;
}
.head input {
  width: 302px;
  height: 58px;
  border-radius: 29px;
  border: none;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  background-image: url(./icons/Icon\ \(2\).svg);
  background-repeat: no-repeat;
  background-position: 14px;
  margin: 165px;
  padding: 0 50px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.head input:hover,
.head input:focus {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
}
.head button {
  width: 157px;
  margin-left: -100px;
  height: 58px;
  border-radius: 29px;
  border: none;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.55);
  background-color: #F78434;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  cursor: pointer;
  transition: background-color 1s ease;
  transition: transform 0.3s ease;
  transition: transform 0.2s;
}
.head button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #666;
}
.head button:hover {
  transform: scale(1.05);
}

.logopisum {
  width: 1108.6287841797px;
  height: 41.5999984741px;
  top: 888px;
  display: flex;
  margin: 100px;
  padding: 150px;
  flex-direction: row;
  text-align: center;
  gap: 300px;
}
.logopisum .l {
  width: 30.3999996185px;
  height: 30.3999996185px;
  top: 895px;
  display: flex;
  justify-content: space-between;
}
.logopisum .color {
  background-color: #D8D8D8;
}
.logopisum .pp {
  width: 160.5023956299px;
  height: 31.0751991272px;
  top: 895.62px;
  left: 217.1px;
  color: #D8D8D8;
  font-size: 30px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */